body {
  background-color: #24302D;
}

h1.name {
  /* color: #FFFFFF; */
  float: right;
}

body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("../img/flowers.jpg");

  /* Half height */
  height: 25%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .right {
  float: right;
}

.left {
  float: left;
} */

/* .green {
  background-color: #E1F4E0;
} */

/* custom css for panel-info */
.panel-info {
  border-color: #6c8e82;
}
.panel-info > .panel-heading {
  color: #b8d1c8;
  background-color: #43564C;
  border-color: #bce8f1;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #bce8f1;
}
.panel-info > .panel-heading .badge {
  color: #d9edf7;
  background-color: #31708f;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #bce8f1;
}
.textLeft {
  color: white;
}
