body {
  background-color: #24302D;
  font-family: 'Open Sans Condensed', sans-serif;
}

h1.name {
  color: #FFFFFF;
  /* float: right; */
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 80px;
}

.projLink{
  color: #56043b;
}

.graphic {
  color: white;
}
.design {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
}

p.name {
  color: #FFFFFF;
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.bioImg {
  padding-bottom: 25px;
}

body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("../img/flowers.jpg");
  opacity: 0.75;

  /* Half height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.justify {
  text-align: justify;
}



.right {
  float: right;
}

.left {
  float: left;
} */

/* custom css for panel-info */
.panel-info {
  border-color: #6b9b7d;
}
.panel-info > .panel-heading {
  color: #b8d1c8;
  background-color: #43564C;
  border-color: #6b9b7d;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #6b9b7d;
}
.panel-info > .panel-heading .badge {
  color: #d9edf7;
  background-color: #31708f;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #bce8f1;
}
.textLeft {
  color: white;
}

.leftText {
  text-align: right;
}

/* custom css for progress-bar-info */
.progress-bar-info {
  background-color: #272B57;
}

.progress-bar .progress-bar-info .progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.progress-bar-warning {
  background-color: #B279AA;
}

.progress-bar .progress-bar-warning .progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.progress-bar-success {
  background-color: #811C5B;
}

.progress-bar .progress-bar-success .progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.progress-bar-danger {
  background-color: #27574E;
}

.progress-bar .progress-bar-danger .progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}



.jumbotron {
    /* background-image: url("../img/flowers.jpg"); */
    background-color: #2b3d38;
    margin-bottom: 20px;`enter code here`
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: bottom;
    -webkit-background-size: cover;
    background-size: cover;
    opacity: 0.75;
}
